/*animation*/
@keyframes fly-up{
	from{
		opacity: 0;
		top: 0px;
	}
	to{
		opacity: 1;
		top: 60px;
	}
}

@keyframes side-left{
	from{
		left: 100%;
		opacity: 0;
	}
	to{
		left: 0px;
		opacity: 1;
	}
}

@keyframes side-right{
	from{
		right: 100%;
		opacity: 0;
	}
	to{
		right: 0px;
		opacity: 1;
	}
}

/*master style*/
body{
	margin: 0;
	padding: 0;
	background: #e1e1e1;
	font-family: Ubuntu, Roboto, sans-serief;
}

*{
	box-sizing: border-box;
}

.container{
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
}

.container .big-title h1{
	font-size: 28px;
	top: 60px;
	position: relative; 
	text-align: center; 
	color: lightseagreen;
	animation-name: fly-up;
	animation-duration: 1.5s;
}

/*some hr new style but let's not use it for now,
it's look weird
.hr-custom{
	padding-bottom: 20px;
	border-bottom: 2px dashed lightseagreen;
}
*/


/*top bar style*/
.top-bar-wrapper{
	z-index: 1;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: space-between;
	padding: 20px;
	background: lightseagreen;
	font-weight: bold;
	animation-name: side-left;
	animation-duration: 1.5s;
}

.top-bar-wrapper .left-area{
	display: flex;
}

.top-bar-wrapper .left-area .link-wrapper{
	margin-right: 15px;
}

.link-wrapper a{
	font-size: 0.9em;
	text-decoration: none;
	color: #ececec;
	padding: 5px;
	border: 2px dashed transparent;
}

.link-wrapper a:hover{
	border: 2px dashed #ececec;
}

/*preview style*/

.preview-items{
	position: relative;
	top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	animation-name: side-right;
	animation-duration: 1.5s;
	width: 100%;
	height: 100%;
}

.preview-item{
	background: #ececec;
	position: relative;
	margin: 10px;
	padding: 10px;
	align-items: center;
	border: 2px dashed lightseagreen;
	transition: 0.5s;
	transition-property: background;
}

.preview-item .subtitle{
	text-transform: uppercase;
}

.preview-text-logo{
	margin: 10px;
	position: relative;
	color: lightseagreen;
	text-decoration: none;
	text-align: center;
}

.preview-text-logo .title{
	font-size: 0.9em;
}

.preview-text-logo .subtitle{
	font-size: 0.8em;
}

.preview-item:hover{
	filter: brightness(50%);
}

/*content style*/
.content-wrapper{
	position: relative;
	top: 60px;
	animation-name: side-right;
	animation-duration: 1.5s;
}

.content{
	background: #ececec;
	display: grid;
	grid-template-columns: 1fr;	
	margin: 20px;
	padding: 20px;
	color: lightseagreen;
	border: 2px dashed lightseagreen;
	padding: 10px;
}

.content .top-content-wrapper{
	text-align: center;	
}

.content .top-content-wrapper .content-img img{
	border: 2px dashed lightseagreen;
	padding: 5px;
	animation-name: fly-up;
	animation-duration: 1.5s;
}

/*card style begin*/

.card-items{
	position: relative;
	width: 100%;
	top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	animation-name: side-right;
	animation-duration: 1.5s;
}

.card-item{
	background: #ececec;
	position: relative;
	margin: 10px;
	padding: 10px;
	align-items: center;
	border: 2px dashed lightseagreen;
	height: 100%;
}

.card-text-pic{
	position: relative;
	color: lightseagreen;
	text-decoration: none;
	text-align: center;
}

.card-text-pic .pic img{
	width: 100px;
}

.card-text-pic .title{
	font-size: 0.9em;
}

.card-text-pic .subtitle p{
	font-size: 0.9em;
}

/*card style end*/


.sosmed-wrapper{
	padding-top: 5px;
}

.sosmed-wrapper a{
	padding: 10px;

}

.sosmed-wrapper a img{
	width: 40px;
}

/*button style begin*/

.button-wrapper{
	display: flex;
	justify-content: space-between;
	top: 90%;
}

.button a img{
	width: 50px;
	height: 50px;
}

.button:hover{
	filter: brightness(50%);
}

/*button style end*/

